fiona==1.8.4
netCDF4==1.4.2
xarray==0.11.0
pyshp==2.0.1  
pygeoj==1.0.0 
dicttoxml==1.7.4
lxml==4.2.5
pyproj==1.9.5.1
geojson==2.4.1
geolinks==0.2.0
gunicorn==19.9.0
nio==3.2.1
OWSLib==0.16.0
pathlib==1.0.1
pytest==4.0.2
shapefile==2.0.1
Shapely==1.5.17
six==1.10.0
SQLAlchemy==1.2.15
subprocess32==3.5.3
xmltodict==0.11.0
django==2.1.5
jgraph==0.2.1
